
# Node modules
node_modules/



# Ignore all .js files in the src/ directory and its subdirectories
src/**/*.js


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage/

# Dependency directories
jspm_packages/

# Build output
dist/
build/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# dotenv environment variables
.env
.env.test
.env.development
.env.production
.env.local

# OS specific
.DS_Store
Thumbs.db

# Express.js specific (view cache, temp files)
tmp/
temp/
.cache/
sessions/

